.projects-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
}
  
.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
  
.projects-container .projects-grid .project {
    text-align: left;
}
  
.project h2:hover {
    text-decoration: underline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.project-links {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;

    a {
        transition: color 0.2s;

        &:hover {
            color: #5000ca;
        }
    }
}
  
.zoom {
    border-radius: 12px;
    height: 300px;
    width: 100%;
    object-fit:cover;
    object-position: center;
    transition: transform .3s ease-in-out;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.zoom:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

@media screen {
    @media (max-width: 700px) {
        .projects-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
  
        .projects-container .projects-grid {
            display: block;
        }
      
        .projects-container .projects-grid .project {
            padding-bottom: 5%;
        }
    }
}